/*!
 * modified github.com/tristen/tablesort
 * tristen.ca/tablesort/demo/
 */
th.sort-header::-moz-selection {
	background: transparent;
}
th.sort-header::selection {
	background: transparent;
}
th.sort-header {
	cursor: pointer;
}
table th.sort-header:after {
	content: "";
	float: right;
	margin-top: 5.250pt;
	border-width: 0 3.000pt 3.000pt;
	border-style: solid;
	border-top-color: #363636;
	border-right-color: transparent;
	border-bottom-color: #363636;
	border-left-color: transparent;
	visibility: hidden;
}
table th.sort-header:hover:after {
	visibility: visible;
}
table th.sort-up:after,table th.sort-down:after,table th.sort-down:hover:after {
	visibility: visible;
	opacity: 0.4;
}
table th.sort-up:after {
	border-bottom: none;
	border-width: 3.000pt 3.000pt 0;
}
/*!
 * modified github.com/tristen/tablesort
 * tristen.ca/tablesort/demo/
 */
.col table th.sort-header::-moz-selection {
	background: transparent;
}
.col table th.sort-header::selection {
	background: transparent;
}
.col table th.sort-header {
	cursor: pointer;
}
.col table th.sort-header:after {
	float: right;
	margin-top: 0;
	border-width: 0;
	border-style: none;
	font-family: "englishextra-ui-icons";
	content: "\e907";
	font-size: 0.375rem;
	position: relative;
	top: 0.375rem;
	color: inherit;
	visibility: hidden;
}
.col table th.sort-header:hover:after {
	visibility: visible;
}
.col table th.sort-up:after,
.col table th.sort-down:after,
.col table th.sort-down:hover:after {
	visibility: visible;
	opacity: 0.4;
}
.col table th.sort-up:after {
	border-bottom: none;
	border-width: 0;
}
/*! modified Hint.css - v2.2.0 - 2016-03-08
 * http://kushagragour.in/lab/hint/
 * Copyright (c) 2016 Kushagra Gour; Licensed
 */
.hint--bottom-left:before,
.hint--bottom-right:before,
.hint--bottom:before {
	margin-top: -0.750em;
}
[data-hint] {
	position: relative;
	display: inline-block;
}
[data-hint]:after,[data-hint]:before {
	position: absolute;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	visibility: hidden;
	opacity: 0;
	z-index: 1000000;
	pointer-events: none;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	transition: .3s ease;
	-webkit-transition-delay: 0ms;
	-moz-transition-delay: 0ms;
	transition-delay: 0ms;
}
[data-hint]:hover:after,[data-hint]:hover:before {
	visibility: visible;
	opacity: 1;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
}
[data-hint]:before {
	content: "";
	position: absolute;
	background: 0 0;
	border: 0.375em solid transparent;
	z-index: 1000001;
}
[data-hint]:after {
	content: attr(data-hint);
	background: #353535;
	color: #FFFFFF;
	padding: 0.500em 0.625em;
	font-size: 0.875em;
	font-family: inherit;
	line-height: 0.875em;
	white-space: nowrap;
	box-shadow: 0.250em 0.250em 0.500em rgba(0,0,0,.3);
}
[data-hint='']:after,[data-hint='']:before {
	display: none!important;
}
.hint--top-left:before,
.hint--top-right:before,
.hint--top:before {
	border-top-color: #353535;
}
.hint--bottom-left:before,
.hint--bottom-right:before,
.hint--bottom:before {
	border-bottom-color: #353535;
}
.hint--top:before {
	margin-bottom: -0.750em;
}
.hint--top:after,
.hint--top:before {
	bottom: 100%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}
.hint--top:focus:after,
.hint--top:focus:before,
.hint--top:hover:after,
.hint--top:hover:before {
	-webkit-transform: translateX(-50%) translateY(-0.500em);
	-moz-transform: translateX(-50%) translateY(-0.500em);
	transform: translateX(-50%) translateY(-0.500em);
}
.hint--bottom:after,
.hint--bottom:before {
	top: 100%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}
.hint--bottom:focus:after,
.hint--bottom:focus:before,
.hint--bottom:hover:after,
.hint--bottom:hover:before {
	-webkit-transform: translateX(-50%) translateY(0.500em);
	-moz-transform: translateX(-50%) translateY(0.500em);
	transform: translateX(-50%) translateY(0.500em);
}
.hint--right:before {
	border-right-color: #353535;
	margin-left: -0.750em;
	margin-bottom: -0.375em;
}
.hint--right:after {
	margin-bottom: -0.875em;
}
.hint--right:after,
.hint--right:before {
	left: 100%;
	bottom: 50%;
}
.hint--right:focus:after,
.hint--right:focus:before,
.hint--right:hover:after,
.hint--right:hover:before {
	-webkit-transform: translateX(0.500em);
	-moz-transform: translateX(0.500em);
	transform: translateX(0.500em);
}
.hint--left:before {
	border-left-color: #353535;
	margin-right: -0.750em;
	margin-bottom: -0.375em;
}
.hint--left:after {
	margin-bottom: -0.875em;
}
.hint--top-left:before,
.hint--top-right:before {
	margin-bottom: -0.750em;
}
.hint--left:after,
.hint--left:before {
	right: 100%;
	bottom: 50%;
}
.hint--left:focus:after,
.hint--left:focus:before,
.hint--left:hover:after,
.hint--left:hover:before {
	-webkit-transform: translateX(-0.500em);
	-moz-transform: translateX(-0.500em);
	transform: translateX(-0.500em);
}
.hint--top-left:after,
.hint--top-left:before {
	bottom: 100%;
	left: 50%;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	transform: translateX(-100%);
}
.hint--top-left:after {
	margin-left: 0.375em;
}
.hint--top-left:focus:after,
.hint--top-left:focus:before,
.hint--top-left:hover:after,
.hint--top-left:hover:before {
	-webkit-transform: translateX(-100%) translateY(-0.500em);
	-moz-transform: translateX(-100%) translateY(-0.500em);
	transform: translateX(-100%) translateY(-0.500em);
}
.hint--top-right:after,
.hint--top-right:before {
	bottom: 100%;
	left: 50%;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	transform: translateX(0);
}
.hint--top-right:after {
	margin-left: -0.375em;
}
.hint--top-right:focus:after,
.hint--top-right:focus:before,
.hint--top-right:hover:after,
.hint--top-right:hover:before {
	-webkit-transform: translateY(-0.500em);
	-moz-transform: translateY(-0.500em);
	transform: translateY(-0.500em);
}
.hint--bottom-left:after,
.hint--bottom-left:before {
	top: 100%;
	left: 50%;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	transform: translateX(-100%);
}
.hint--bottom-left:after {
	margin-left: 0.375em;
}
.hint--bottom-left:focus:after,
.hint--bottom-left:focus:before,
.hint--bottom-left:hover:after,
.hint--bottom-left:hover:before {
	-webkit-transform: translateX(-100%) translateY(0.500em);
	-moz-transform: translateX(-100%) translateY(0.500em);
	transform: translateX(-100%) translateY(0.500em);
}
.hint--bottom-right:after,
.hint--bottom-right:before {
	top: 100%;
	left: 50%;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	transform: translateX(0);
}
.hint--bottom-right:after {
	margin-left: -0.375em;
}
.hint--bottom-right:focus:after,
.hint--bottom-right:focus:before,
.hint--bottom-right:hover:after,
.hint--bottom-right:hover:before {
	-webkit-transform: translateY(0.500em);
	-moz-transform: translateY(0.500em);
	transform: translateY(0.500em);
}
/*!
 * modified github.com/Pixabay/JavaScript-autoComplete
 */
.autocomplete-suggestions {
	text-align: left;
	cursor: default;
	border: 1px solid #ccc;
	border-top: 0;
	background: #fff;
	box-shadow: -1px 1px 3px rgba(0,0,0,.1);
    /* core styles should not be changed */
	position: absolute;
	display: none;
	z-index: 9999;
	max-height: 254px;
	overflow: hidden;
	overflow-y: auto;
	box-sizing: border-box;
}
.autocomplete-suggestion {
	position: relative;
	padding: 0 .6em;
	line-height: 23px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1.02em;
	color: #333;
}
.autocomplete-suggestion b {
	font-weight: normal;
	color: #1f8dd6;
}
.autocomplete-suggestion.selected {
	background: #f0f0f0;
}
/*!
 * fix width for hint.css
 */
[class*="holder-data-src-img hint--"] {
	display: block !important;
}
/*!
 * modified Kamil v0.0.1
 * Autocomplete library
 * oss6.github.io/kamil
 * MIT License
 * by Ossama Edbali
 */
.kamil-autocomplete {
	display: none;
	position: absolute;
	list-style: none;
	text-align: left;
	margin: 0;
	padding: 0;
	background-color: #F0F0F0;
	z-index: 9999;
	outline: none;
	color: inherit;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 0.875em;
	border: 0.750pt solid rgba(45,116,189,1);
	-webkit-box-shadow: 0.125em 0.125em 0.125em 0 rgba(50,50,50,0.5);
	-moz-box-shadow: 0.125em 0.125em 0.125em 0 rgba(50,50,50,0.5);
	box-shadow: 0.125em 0.125em 0.125em 0 rgba(50,50,50,0.3);
	border-radius: none;
}
.kamil-autocomplete li {
	font-weight: 400;
	padding: 0.375em 0.500em;
	cursor: pointer;
}
.kamil-autocomplete li.kamil-active {
	color: inherit;
	background-color: rgba(190,212,235,1);
}
/*!
 * codepen.io/brunjo/pen/vELmaP
 *  Usage:
 * <div class="data-loading"></div>
 */
.data-loading .data-loading {
	width: 108.000pt;
	height: 108.000pt;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -54.000pt 0 0 -54.000pt;
	border: 3.000pt solid rgba(213,213,213,1);
	border-radius: 108.000pt;
	opacity: 0;
	z-index: 999999;
	animation: data-loading-pulsate 1s ease-out;
	animation-iteration-count: infinite;
}
@keyframes data-loading-pulsate {
	0% {
		transform: scale(.1);
		opacity: 0.0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1.2);
		opacity: 0;
	}
}
/*!
 * github.com/lukehaas/css-loaders
 * projects.lukehaas.me/css-loaders/
 * size of a loader dependent on font size
 */
.data-loading .data-loading {
	font-size: 8px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -5em 0 0 -5em;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(211,211,211,0.5);
	border-right: 1.1em solid rgba(211,211,211,0.5);
	border-bottom: 1.1em solid rgba(211,211,211,0.5);
	border-left: 1.1em solid rgba(25,25,25,0.5);
	z-index: 999999;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}
.data-loading .data-loading,
.data-loading .data-loading:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
/*!
 * horizontal borders table
 */
.grid-item-content table {
	width: 100%;
	border: none;
}
.grid-item-content table tr th {
	background-color: #E8E8E8;
}
.grid-item-content table tr:nth-child(even) {
	background-color: #F3F3F3;
}
.grid-item-content table th {
	font-weight: bolder;
	border: none;
}
.grid-item-content table td {
	border: none;
}
.grid-item-content table th,
.grid-item-content table td {
	font-size: 0.857rem;
	text-align: left;
	padding: .313rem 1.000rem;
	vertical-align: top;
}
.grid-item-content table th a:hover,
.grid-item-content table th a:active,
.grid-item-content table th a:focus {
	color: inherit;
	text-decoration: underline;
}
