/*!
 * gist.github.com/englishextra/cdd503793392281a8a0c
 */
/* @media print { */
	html {
		font-size: 100%;
		margin: 0;
		padding: 0;
	}
	body {
		font-family: "Segoe Pro SemiLight","Segoe UI SemiLight",sans-serif;
		font-weight: normal;
		font-size: 11.0pt;
		line-height: 1.500;
		color: Black;
		overflow-x: visible;
		margin: 0;
		padding: 0;
	}
	a,.col a {
		font-family: "Segoe Pro","Segoe UI",sans-serif;
		font-weight: normal;
		text-decoration: none;
		color: inherit;
		border-bottom: none;
	}
	p a[href^="http"]:after,.col p a[href^="http"]:after,
	table td a[href^="http"]:after,.col table td a[href^="http"]:after	{
		content: " \003c" attr(href) "\003e";
		color: #307CCA;
	}
	h1,.col h1 {
		font-family: "Cambria",serif;
		font-weight: normal;
		font-size: 42.0pt;
		line-height: 1.200;
		color: inherit;
		margin-top: 0 !important;
	}
	h2,.col h2 {
		font-family: "Segoe Pro SemiLight","Segoe UI SemiLight",sans-serif;
		font-weight: normal;
		font-size: 20.0pt;
		line-height: 1.200;
	}
	h3,.col h3 {
		font-family: "Segoe Pro SemiBold","Segoe UI SemiBold",sans-serif;
		font-weight: normal;
		font-size: 13.0pt;
		line-height: 1.200;
	}
	h4,.col h4 {
		font-family: "Segoe Pro","Segoe UI",sans-serif;
		font-weight: normal;
		font-size: 12.0pt;
		line-height: 1.200;
		text-transform: uppercase;
		letter-spacing: 0.500pt;
	}
	p,.col p {
		font-family: "Segoe Pro SemiLight","Segoe UI SemiLight",sans-serif;
		font-weight: normal;
		font-size: 11.0pt;
	}
	b,strong,.bolder,.col b,.col strong,.col .bolder {
		font-family: "Segoe Pro SemiBold","Segoe UI SemiBold",sans-serif;
		font-weight: normal;
	}
	i,em,blockquote,.italic,.col i,.col em,.col blockquote,.col .italic {
		font-family: "Segoe Pro","Segoe UI",sans-serif;
		font-weight: normal;
		font-style: italic;
	}
	table,.col table {
		border-collapse: collapse;
		border: none;
		border-top-width: 0.750pt;
		border-top-style: solid;
		border-top-color: inherit;
		border-right-width: 0.750pt;
		border-right-style: solid;
		border-right-color: inherit;
		border-left-width: 0.750pt;
		border-left-style: solid;
		border-left-color: inherit;
	}
	table caption,.col table caption {
		font-size: 10.0pt;
	}
	table tr,.col table tr {
		background-color: transparent;
	}
	table tr:nth-of-type(odd),.col table tr:nth-of-type(odd) {
		background-color: transparent;
	}
	table td,table th,.col table td,.col table th {
		font-size: 10.0pt;
		padding: 5.0pt;
		vertical-align: top;
		border-collapse: collapse;
	}
	table th,.col table th {
		font-family: "Segoe Pro SemiBold","Segoe UI SemiBold",sans-serif;
		font-weight: normal;
		text-align: left;
		border: none;
		border-bottom-width: 0.75pt;
		border-bottom-style: solid;
		border-bottom-color: inherit;
		background-color: transparent;
	}
	table td,.col table td {
		font-family: "Segoe Pro SemiLight","Segoe UI SemiLight",sans-serif;
		font-weight: normal;
		border: none;
		border-bottom-width: 0.75pt;
		border-bottom-style: solid;
		border-bottom-color: inherit;
	}
	table td ol,table td ul,.col table td ol,.col table td ul {
		margin: 0;
	}
	[id^="video"],
	[id*=" video"],
	[id^="audio"],
	[id*=" audio"],
	h2[id^="a0"],
	form,.col form,
	select,.col select,
	textarea,.col textarea,
	input,.col input,
	button,.col button,
	.header,
	.footer,
	.stripe-top,
	.holder-btn-nav-menu,
	.btn-nav-menu,
	.panel-nav-menu,
	.btn-menu-more,
	/* .holder-panel-menu-more, */
	.holder-contents-select,
	.holder-search-form,
	.btn-expand-hidden-layer:after,
	.btn-show-disqus-thread,
	.btn-show-disqus-thread:after,
	.btn-show-vk-like,
	.holder-data-src-iframe,
	.data-src-iframe,
	.holder-data-src-img,
	.data-src-img,
	.sponsored,
	.vk-like,
	.btn-cc-by-nd-88x31,
	.article-gallery,
	.pswp,
	.btn-block-social-buttons,
	.pluso,
	.ya-share2,
	.ui-pnotify,
	.humane,
	.humane-libnotify,
	#progress,
	#gallery,
	#disqus_thread {
		display: none;
	}
	.btn-download-app, 
	#vkwidget1_tt {
		display: none !important;
		opacity:0 !important;
	}
	.col .holder-hidden-layer {
		max-height: 100%;
		overflow-y: auto;
	}
	.holder-panel-menu-more {
		display: block;
		position: static;
		top: 0;
		left: 0;
		color: transparent;
		background: transparent;
		border: none;
		box-shadow: none;
	}
	.panel-menu-more li a {
		display: none;
	}
	.qr-code {
		display: block;
	}
	.grid {
		width: 100%;
	}
	.grid-item {
		float: none;
		width: 100%;
		box-shadow: none;
	}
	blockquote,
	.blockquote,
	.col .blockquote {
		margin-left: 16.0pt;
	}
	address,
	.address,
	.col .address {
		font-size: 10.0pt;
		text-align: right;
	}
	.highlight,
	.col .highlight,
	.main .col .highlight {
		font-family: "Segoe Pro SemiBold","Segoe UI SemiBold",sans-serif;
		font-weight: normal;
		color: inherit;
	}
	a.reflink {
		color: DimGray;
	}
	.phonetic,.col .phonetic {
		font-family: "Segoe Pro","Segoe UI",sans-serif;
	}
/* } */
