@font-face{font-family:"englishextra-ui-icons";src:url(../../../fonts/englishextra-ui-icons-fontfacekit/englishextra-ui-icons.eot?m2o7ee);src:url(../../../fonts/englishextra-ui-icons-fontfacekit/englishextra-ui-icons.eot?m2o7ee#iefix) format("embedded-opentype"),url(../../../fonts/englishextra-ui-icons-fontfacekit/englishextra-ui-icons.svg?m2o7ee#icomoon) format("svg"),url(../../../fonts/englishextra-ui-icons-fontfacekit/englishextra-ui-icons.woff?m2o7ee) format("woff"),url(../../../fonts/englishextra-ui-icons-fontfacekit/englishextra-ui-icons.ttf?m2o7ee) format("truetype");font-weight:normal;font-style:normal;}
@font-face{font-family:"Exo2";src:url(../../../fonts/exo2-fontfacekit/Exo2Light.eot);src:url(../../../fonts/exo2-fontfacekit/Exo2Light.eot) format("embedded-opentype"), url(../../../fonts/exo2-fontfacekit/Exo2Light.svg#Exo2Light) format("svg"), url(../../../fonts/exo2-fontfacekit/Exo2Light.woff2) format("woff2"), url(../../../fonts/exo2-fontfacekit/Exo2Light.woff) format("woff"), url(../../../fonts/exo2-fontfacekit/Exo2Light.ttf) format("truetype");font-style:normal;font-weight:300;}
@font-face{font-family:"Exo2";src:url(../../../fonts/exo2-fontfacekit/Exo2Regular.eot);src:url(../../../fonts/exo2-fontfacekit/Exo2Regular.eot) format("embedded-opentype"), url(../../../fonts/exo2-fontfacekit/Exo2Regular.svg#Exo2Regular) format("svg"), url(../../../fonts/exo2-fontfacekit/Exo2Regular.woff2) format("woff2"), url(../../../fonts/exo2-fontfacekit/Exo2Regular.woff) format("woff"), url(../../../fonts/exo2-fontfacekit/Exo2Regular.ttf) format("truetype");font-style:normal;font-weight:400;}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
/*!
 * custom
 */
html,
body {
	height: 100%;
}
html {
	font-size: 100%;
	/*!
	 * set the parent to background transparent
	 * css-tricks.com/just-one-of-those-weird-things-about-css-background-on-body/
	 */
	background-color: transparent;
}
body {
	font-family: "Exo2","Segoe UI",sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.500;
	width: 100%;
	color: #363636;
	background: #F0F0F0;
	/* scroll-behavior: smooth; */
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
	-webkit-text-size-adjust: none;
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
	font-smooth: always;
	font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
	/* user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none; */
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
a {
	color: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
}
a:hover,
a:active,
a:focus {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: bottom;
}
p:first-child {
	margin-top: 0;
}
p:last-child {
	margin-bottom: 0;
}
b,
strong,
.bolder {
	font-weight: bold;
}
i,
em,
.italic {
	font-style: italic;
}
u,
.underline {
	text-decoration: underline;
}
*,*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
[class^="fa-"],[class*=" fa-"] {
	font-style: normal;
	font-family: "FontAwesome" !important;
	-webkit-font-smoothing: antialiased;
}
::selection {
	color: #FFFFFF;
	background: #56A9FF;
}
::-moz-selection {
	color: #FFFFFF;
	background: #56A9FF;
}
/* * {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
} */
/*!
 * clearfix css-tricks.com/snippets/css/clear-fix/
 */
.cf:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
* html .cf { zoom: 1; } /* IE6 */
*:first-child+html .cf { zoom: 1; } /* IE7 */
/*!
 * fix fontawesome
 */
i.fa {
	font-style: normal;
}
table.respond {
	width: auto;
}
/*!
 * fix for tranquil-heart.css google-prettify theme
 */
ol.linenums {
	margin: 0 0 0 3.000em !important;
}
/*!
 * fit width
 */
.fit-width {
	min-width: 100%;
}
/*!
 * hide on mobile
 */
@media handheld,only screen and (max-width:767px) {
	.hide-on-mobile {
		display: none !important;
		width: 0;
		height: 0;
	}
}
/*!
 * github.com/lukehaas/css-loaders
 * projects.lukehaas.me/css-loaders/
 * size of a loader dependent on font size
 */
.data-loading .data-loading {
	font-size: 8px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -5em 0 0 -5em;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(211,211,211,0.5);
	border-right: 1.1em solid rgba(211,211,211,0.5);
	border-bottom: 1.1em solid rgba(211,211,211,0.5);
	border-left: 1.1em solid rgba(25,25,25,0.5);
	z-index: 999999;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}
.data-loading .data-loading,
.data-loading .data-loading:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
/*!
 * layout
 */
.page {
	width: 100%;
	height: 100%;
	position: relative;
	left: 0;
	opacity: 0;
	background-color: transparent;
	/* background-image: url(//c1.staticflickr.com/1/440/18550960875_5d72d17cc9_o.jpg); */
	background-image: url(../img/header.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.page.active {
	position: relative;
	left: 280px;
}
.container {
	width: 100%;
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
}
/*!
 * navigation
 */
.page,
.panel-nav-menu,
.btn-nav-menu {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.panel-nav-menu,
.panel-nav-menu li {
	position: relative;
}
.panel-nav-menu {
	display: block;
	width: 280px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	font-size: 0.875em;
	line-height: 3.143em;
	list-style: none;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #2E2E2E;
	padding: 0;
	margin: 0;
	margin-left: -280px;
	z-index: 998;
}
.panel-nav-menu li {
	font-weight: 300;
	padding: 0;
	margin: 0;
}
.panel-nav-menu li a {
	display: block;
	text-decoration: none;
	white-space: normal;
	white-space: nowrap;
	color: #FFFFFF;
	border: none;
	padding: 0 1.143em;
}
.panel-nav-menu li a:hover,
.panel-nav-menu li a:focus {
	background: #464646;
}
.panel-nav-menu li a.active {
	background: rgba(30,77,125,1);
}
.panel-nav-menu li a:before {
	font-family:"englishextra-ui-icons";
	content: "\e918\00a0\00a0";
	font-size: 0.875em;
}
.btn-nav-menu {
	display: inline-block;
	width: 33.000pt;
	height: 33.000pt;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	z-index: 999;
}
.btn-nav-menu:hover {
	background-color: rgba(66,66,66,1);
}
/*!
 * using icon font
 */
.btn-nav-menu {
	text-align: center;
	background: none rgba(66,66,66,0.5);
}
.btn-nav-menu:before {
	font-family: "englishextra-ui-icons";
	content: "\e914";
	font-size: 18.000pt;
	line-height: 33.000pt;
	color: #FFFFFF;
}
.page.active .btn-nav-menu:before {
	font-family: "englishextra-ui-icons";
	content: "\e90a";
	font-size: 15.000pt;
}
.page.active .panel-nav-menu {
	left: 280px;
	width: 280px;
}
.page.active .btn-nav-menu {
	/*!
	 * position absolute
	 */
	/* left: 0; */
	/*!
	 * position fixed
	 * left: 280px;
	 */
	left: 0;
}
.btn-menu-more {
	display: inline-block;
	width: 33.000pt;
	height: 33.000pt;
	position: absolute;
	top: 0;
	left: 33.000pt;
	text-decoration: none;
	-webkit-transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
	transition: background 0.2s linear;
	cursor: pointer;
	z-index: 999;
}
.btn-menu-more:hover {
	background-color: rgba(66,66,66,1);
}
/*!
 * using icon font
 */
.btn-menu-more {
	text-align: center;
	background: none rgba(66,66,66,0.5);
}
.btn-menu-more:before {
	font-family: "englishextra-ui-icons";
	content: "\e915";
	font-size: 18.000pt;
	line-height: 33.000pt;
	color: #FFFFFF;
}
.holder-panel-menu-more {
	display: none;
	position: absolute;
	top: 33.000pt;
	left: 33.000pt;
	color: #363636;
	background: #F0F0F0;
	border: 0.750pt solid rgba(45,116,189,1);
	-webkit-box-shadow: 0.125em 0.125em 0.125em 0 rgba(50,50,50,0.5);
	-moz-box-shadow: 0.125em 0.125em 0.125em 0 rgba(50,50,50,0.5);
	box-shadow: 0.125em 0.125em 0.125em 0 rgba(50,50,50,0.3);
	z-index: 9999;
}
.panel-menu-more {
	display: inline-block;
	min-width: 204.000pt;
	width: 100%;
	height: 100%;
	font-size: 0.857em;
	line-height: 1.500;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.panel-menu-more li a {
	display: block;
	font-weight: 400;
	padding: 0.625em 0.750em;
}
.panel-menu-more li a:hover,
.panel-menu-more li a:active,
.panel-menu-more li a:focus {
	text-decoration: none;
	color: inherit;
	background-color: rgba(190,212,235,1);
}
/*!
 * other
 */
.holder-site-logo {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	text-align: center;
	opacity: 0;
	-webkit-transition: opacity 0.5s linear;
	-moz-transition: opacity 0.5s linear;
	-o-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
	padding: 0;
	margin: 0;
	margin-top: -2.500rem;
}
.site-logo {
	display: inline-block;
	width: 5.000rem;
	height: 5.000rem;
	line-height: 0;
	vertical-align: middle;
	border-bottom-color: transparent;
	background-color: transparent;
	background-image: url(../img/sitelogo-rounded-333333-72x72.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 5.000rem 5.000rem;
	/* background-size: 12vh 12vh; */
	/* -webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg); */
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	transition: all .2s ease-out;
	margin-top: 0;
	margin-left: 0;
}
.no-svg .site-logo {
	background-image: url(../img/sitelogo-rounded-333333-72x72.png);
}
/* .site-logo:hover {
	-webkit-transform: rotate(415deg);
	-moz-transform: rotate(415deg);
	-o-transform: rotate(415deg);
	-ms-transform: rotate(415deg);
	-webkit-transition: all .4s ease-out;
	-moz-transition: all .4s ease-out;
	-o-transition: all .4s ease-out;
	-ms-transition: all .4s ease-out;
	transition: all .4s ease-out;
} */
/*!
 * Pulse
 */
@-webkit-keyframes site-logo {
	25% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	75% {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
}
@keyframes site-logo {
	25% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	75% {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
}
/* .site-logo {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0,0,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
} */
.site-logo/* ,
.site-logo:hover,
.site-logo:focus,
.site-logo:active */ {
	-webkit-animation-name: site-logo;
	animation-name: site-logo;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
.site_title {
	display: inline-block;
	font-weight: 400;
	color: #2D74BD;
	font-size: 4rem;
	line-height: 1;
	margin-top: 2.500rem;
	margin-left: 0;
}
.site_slogan {
	display: inline-block;
	font-weight: 400;
	color: #2D74BD;
	font-size: 2rem;
	line-height: 1.500;
	/* background-color: rgba(17, 13, 14, 0.6); */
	margin-top: 2rem;
	margin-left: 0;
}
.copyright {
	position: absolute;
	bottom: 1.750em;
	left: 0;
	right: 0;
	top: auto;
	font-size: 0.750em;
	text-align: center;
	color: #FFFFFF;
	text-shadow: 0 0 0.125em rgba(0,0,0,0.9);
}
.copyright a {
	font-weight: 400;
}
/*!
 * qr code
 */
.qr-code {
	width: 100%;
	display: block;
	float: left;
	text-align: left;
	background: #FFFFFF;
}
/*!
 * vk-like
 */
.vk-like {
	display: inline-block;
	height: 17.250pt;
	position: absolute !important;
	top: 7.500pt;
	left: 75.000pt;
	line-height: 0;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0s,opacity 0.2s linear;
	-moz-transition: visibility 0s,opacity 0.2s linear;
	-o-transition: visibility 0s,opacity 0.2s linear;
	transition: visibility 0s,opacity 0.2s linear;
	z-index: 1000;
}
.btn-show-vk-like {
	display: inline-block;
	width: 33.000pt;
	height: 33.000pt;
	position: absolute;
	top: 0;
	left: 66.000pt;
	text-indent: 0;
	text-align: center;
	text-decoration: none;
	background: none rgba(66,66,66,0.5);
	border: none;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
	-webkit-transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
	transition: background 0.2s linear;
	z-index: 999;
}
.btn-show-vk-like:hover {
	background-color: rgba(66,66,66,1);
}
.btn-show-vk-like:before {
	font-family: "englishextra-ui-icons";
	content: "\e925";
	font-size: 18.000pt;
	line-height: 33.000pt;
	color: #FFFFFF;
}
/*!
 * retina
 */
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}
/*!
 * font for mobile
 * iosfonts.com/
 * google.com/design/spec/style/typography.html#typography-language-categorization
 * msdn.microsoft.com/en-us/library/windows/apps/hh202920%28v=vs.105%29.aspx
 */
@media only screen and (max-width: 480px) {
	body {
		font-family: "Segoe UI","Segoe WP","Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
	}
	.panel-nav-menu li {
		font-family: "Segoe UI SemiLight","Segoe WP SemiLight","Roboto Light","Roboto Lt","HelveticaNeue-Light","Helvetica Neue",sans-serif;
		font-weight: 300;
	}
}
/*!
 * media queries
 */
/*!
 * fix size for the logo
 */
/*!
 * max and portrait
 */
@media only screen and (max-width: 1080px) and (orientation: portrait) {
	html {
		font-size: 137.5%;
	}
}
@media only screen and (max-width: 800px) and (orientation: portrait) {
	html {
		font-size: 125.0%;
	}
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	html {
		font-size: 125.0%;
	}
}
@media only screen and (max-width: 640px) and (orientation: portrait) {
	html {
		font-size: 125.0%;
	}
}
@media only screen and (max-width: 600px) and (orientation: portrait) {
	html {
		font-size: 125.0%;
	}
}
@media only screen and (max-width: 540px) and (orientation: portrait) {
	html {
		font-size: 125.0%;
	}
}
@media only screen and (max-width: 480px) and (orientation: portrait) {
	html {
		font-size: 125.0%;
	}
}
@media only screen and (max-width: 400px) and (orientation: portrait) {
	html {
		font-size: 100%;
	}
}
@media only screen and (max-width: 360px) and (orientation: portrait) {
	html {
		font-size: 87.5%;
	}
}
@media only screen and (max-width: 320px) and (orientation: portrait) {
	html {
		font-size: 68.8%;
	}
}
@media only screen and (max-width: 240px) and (orientation: portrait) {
	html {
		font-size: 62.5%;
	}
}
/*!
 * max and landscape
 */
@media only screen and (max-width: 1920px) and (orientation: landscape) {
	html {
		font-size: 100%;
	}
}
@media only screen and (max-width: 1366px) and (orientation: landscape) {
	html {
		font-size: 100%;
	}
}
@media only screen and (max-width: 1280px) and (orientation: landscape) {
	html {
		font-size: 100%;
	}
}
@media only screen and (max-width: 1130px) and (orientation: landscape) {
	html {
		font-size: 100%;
	}
}
@media only screen and (max-width: 1024px) and (orientation: landscape) {
	html {
		font-size: 93.8%;
	}
}
@media only screen and (max-width: 980px) and (orientation: landscape) {
	html {
		font-size: 56.3%;
	}
}
@media only screen and (max-width: 802px) and (orientation: landscape) {
	html {
		font-size: 56.3%;
	}
}
@media only screen and (max-width: 691px) and (orientation: landscape) {
	html {
		font-size: 56.3%;
	}
}
@media only screen and (max-width: 640px) and (orientation: landscape) {
	html {
		font-size: 56.3%;
	}
}
@media only screen and (max-width: 600px) and (orientation: landscape) {
	html {
		font-size: 56.3%;
	}
}
@media only screen and (max-width: 540px) and (orientation: landscape) {
	html {
		font-size: 56.3%;
	}
}
@media only screen and (max-width: 480px) and (orientation: landscape) {
	html {
		font-size: 50.0%;
	}
}
@media only screen and (max-width: 320px) and (orientation: landscape) {
	html {
		font-size: 37.5%;
	}
}
