@font-face{font-family:"englishextra-ui-icons";src:url(../../../fonts/englishextra-ui-icons-fontfacekit/englishextra-ui-icons.eot?m2o7ee);src:url(../../../fonts/englishextra-ui-icons-fontfacekit/englishextra-ui-icons.eot?m2o7ee#iefix) format("embedded-opentype"),url(../../../fonts/englishextra-ui-icons-fontfacekit/englishextra-ui-icons.svg?m2o7ee#icomoon) format("svg"),url(../../../fonts/englishextra-ui-icons-fontfacekit/englishextra-ui-icons.woff?m2o7ee) format("woff"),url(../../../fonts/englishextra-ui-icons-fontfacekit/englishextra-ui-icons.ttf?m2o7ee) format("truetype");font-weight:normal;font-style:normal;}
@font-face{font-family:"Exo2";src:url(../../../fonts/exo2-fontfacekit/Exo2Light.eot);src:url(../../../fonts/exo2-fontfacekit/Exo2Light.eot) format("embedded-opentype"), url(../../../fonts/exo2-fontfacekit/Exo2Light.svg#Exo2Light) format("svg"), url(../../../fonts/exo2-fontfacekit/Exo2Light.woff2) format("woff2"), url(../../../fonts/exo2-fontfacekit/Exo2Light.woff) format("woff"), url(../../../fonts/exo2-fontfacekit/Exo2Light.ttf) format("truetype");font-style:normal;font-weight:300;}
@font-face{font-family:"Exo2";src:url(../../../fonts/exo2-fontfacekit/Exo2Regular.eot);src:url(../../../fonts/exo2-fontfacekit/Exo2Regular.eot) format("embedded-opentype"), url(../../../fonts/exo2-fontfacekit/Exo2Regular.svg#Exo2Regular) format("svg"), url(../../../fonts/exo2-fontfacekit/Exo2Regular.woff2) format("woff2"), url(../../../fonts/exo2-fontfacekit/Exo2Regular.woff) format("woff"), url(../../../fonts/exo2-fontfacekit/Exo2Regular.ttf) format("truetype");font-style:normal;font-weight:400;}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
/*!
 * custom
 */
html,
body {
	height: 100%;
}
html {
	font-size: 100%;
	/*!
	 * set the parent to background transparent
	 * css-tricks.com/just-one-of-those-weird-things-about-css-background-on-body/
	 */
	background-color: transparent;
}
body {
	font-family: "Exo2","Segoe UI",sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.500;
	width: 100%;
	color: #363636;
	background-color: #F0F0F0;
	/* scroll-behavior: smooth; */
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
	-webkit-text-size-adjust: none;
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
	font-smooth: always;
	font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
	/* user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none; */
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
a {
	color: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
}
a:hover,
a:active,
a:focus {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: bottom;
}
p:first-child {
	margin-top: 0;
}
p:last-child {
	margin-bottom: 0;
}
b,
strong,
.bolder {
	font-weight: bold;
}
i,
em,
.italic {
	font-style: italic;
}
u,
.underline {
	text-decoration: underline;
}
*,*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
[class^="fa-"],[class*=" fa-"] {
	font-style: normal;
	font-family: "FontAwesome" !important;
	-webkit-font-smoothing: antialiased;
}
::selection {
	color: #FFFFFF;
	background: #56A9FF;
}
::-moz-selection {
	color: #FFFFFF;
	background: #56A9FF;
}
/* * {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
} */
/*!
 * clearfix css-tricks.com/snippets/css/clear-fix/
 */
.cf:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
* html .cf {zoom: 1; } /* IE6 */
*:first-child+html .cf {zoom: 1; } /* IE7 */
/*!
 * fix fontawesome
 */
i.fa {
	font-style: normal;
}
table.respond {
	width: auto;
}
/*!
 * fix for tranquil-heart.css google-prettify theme
 */
ol.linenums {
	margin: 0 0 0 3.000em !important;
}
/*!
 * fit width
 */
.fit-width {
	min-width: 100%;
}
/*!
 * hide on mobile
 */
@media handheld,only screen and (max-width:767px) {
	.hide-on-mobile {
		display: none !important;
		width: 0;
		height: 0;
	}
}
/*!
 * github.com/lukehaas/css-loaders
 * projects.lukehaas.me/css-loaders/
 * size of a loader dependent on font size
 */
.data-loading .data-loading {
	font-size: 8px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -5em 0 0 -5em;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(211,211,211,0.5);
	border-right: 1.1em solid rgba(211,211,211,0.5);
	border-bottom: 1.1em solid rgba(211,211,211,0.5);
	border-left: 1.1em solid rgba(25,25,25,0.5);
	z-index: 999999;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}
.data-loading .data-loading,
.data-loading .data-loading:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
/*!
 * custom
 */
/*!
 * layout
 */
.container {
	position: relative;
	top: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s linear;
	-moz-transition: opacity 0.5s linear;
	-o-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
	margin: 0 auto;
	padding: 0;
}
/*!
 * renamed wrap class
 * github.com/MopTym/doSlide/issues/19#issuecomment-205791702
 * github.com/MopTym/doSlide/blob/master/demo/3_1_slider.html
 */
.page {
	position: relative;
	/*width: 100%;
	max-width: 100%;*/
	min-height: 100%;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}
/*!
 * navigation
 */
.btn-nav-menu {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.btn-nav-menu {
	display: inline-block;
	width: 33.000pt;
	height: 33.000pt;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	z-index: 999;
}
.btn-nav-menu:hover {
	background-color: rgba(213,213,213,1);
}
/*!
 * using icon font
 */
.btn-nav-menu {
	text-align: center;
	background: none rgba(211,211,211,0.5);
}
.btn-nav-menu:before {
	font-family: "englishextra-ui-icons";
	content: "\e90f";
	font-size: 18.000pt;
	line-height: 33.000pt;
	color: rgba(25,25,25,0.5);
}
.btn-menu-more {
	display: inline-block;
	width: 33.000pt;
	height: 33.000pt;
	position: absolute;
	top: 0;
	left: 33.000pt;
	text-decoration: none;
	-webkit-transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
	transition: background 0.2s linear;
	cursor: pointer;
	z-index: 999;
}
.btn-menu-more:hover {
	background-color: rgba(213,213,213,1);
}
/*!
 * using icon font
 */
.btn-menu-more {
	text-align: center;
	background: none rgba(211,211,211,0.5);
}
.btn-menu-more:before {
	font-family: "englishextra-ui-icons";
	content: "\e915";
	font-size: 18.000pt;
	line-height: 33.000pt;
	color: rgba(25,25,25,0.5);
}
.holder-panel-menu-more {
	display: none;
	position: absolute;
	top: 33.000pt;
	left: 33.000pt;
	color: #363636;
	background: #F0F0F0;
	border: 0.750pt solid rgba(45,116,189,1);
	-webkit-box-shadow: 0.125em 0.125em 0.125em 0 rgba(50,50,50,0.5);
	-moz-box-shadow: 0.125em 0.125em 0.125em 0 rgba(50,50,50,0.5);
	box-shadow: 0.125em 0.125em 0.125em 0 rgba(50,50,50,0.3);
	z-index: 9999;
}
.panel-menu-more {
	display: inline-block;
	min-width: 204.000pt;
	width: 100%;
	height: 100%;
	font-size: 0.857em;
	line-height: 1.500;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.panel-menu-more li a {
	display: block;
	font-weight: 400;
	padding: 0.625em 0.750em;
}
.panel-menu-more li a:hover,
.panel-menu-more li a:active,
.panel-menu-more li a:focus {
	text-decoration: none;
	color: inherit;
	background-color: rgba(190,212,235,1);
}
/*!
 * rest of content
 */
/*!
 * DoSlide v1.1.3
 * (c) 2016 MopTym <moptym@163.com>
 * Released under the MIT License.
 * Homepage - https://github.com/MopTym/doSlide
 */
.ds-parent {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.ds-container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.ds-container>* {
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	overflow: hidden;
}
/*!
 * other
 */
body {
	position: absolute;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}
.slider {
	/*position: relative;*/
	/*width: 100%;*/
	min-height: 100%;
	/*!
	 * Maintain the aspect ratio of a div with CSS
	 * github.com/MopTym/doSlide/issues/19#issuecomment-205791018
	 * stackoverflow.com/questions/1495407/maintain-the-aspect-ratio-of-a-div-with-css
	 * aspect ratio | padding-bottom value
	 * --------------|----------------------
	 * 16:9 | 56.25%
	 * 4:3 | 75%
	 * 3:2 | 66.66%
	 * 8:5 | 62.5%
	 */
	padding-top: 56.25%;
	/*max-width: 100%;*/
	margin: 0 auto;
}
[class^="slide-"] {
	min-height: 100%;
	text-align: center;
	background-position: center center;
	background-size: cover;
}
.slide-1 {
	background-color: #585578;
	background-image: url(../img/bg-img-1.png);
}
.slide-2 {
	background-color: #557678;
	background-image: url(../img/bg-img-2.png);
}
.slide-3 {
	background-color: #745785;
	background-image: url(../img/bg-img-3.png);
}
[class^="slide-"] h2 {
	display: inline-block;
	font-size: 0.938rem;
	font-weight: 400;
	line-height: 1.200;
	position: relative;
	/* top: 1.625em; */
	top: 0;
	left: 0;
	color: #FFFFFF;
	background-color: transparent;
	border-radius: 0 0 0.625em 0.625em;
	margin: 0 5.125em;
	padding: 0.563em 0.750em 0.563em 0.750em;
}
[class^="slide-"] h2 a {
	color: inherit;
	text-decoration: none;
	border-bottom-width: 0.750pt;
	border-bottom-style: solid;
	border-bottom-color: inherit;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
}
.cd-prev,
.cd-next {
	display: none;
	height: 33.000pt;
	width: 33.000pt;
	z-index: 1;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	/* background: url(data:image/svg+xml;base64,) no-repeat center center rgba(255,255,255,1);
	background-size: 33.000pt 33.000pt; */
}
.cd-prev {
	position: fixed;
	left: 0;
	top: calc(50% - 16.500pt);
	bottom: auto;
}
.cd-next {
	position: fixed;
	right: 0;
	top: calc(50% - 16.500pt);
	bottom: auto;
}
.cd-prev:hover,
.cd-next:hover {
	background-color: rgba(213,213,213,1);
}
/*!
 * using icon font
 */
.cd-prev,
.cd-next {
	text-align: center;
}
.cd-prev:before {
	display: block;
	font-family: "englishextra-ui-icons";
	content: "\e904";
	font-size: 18.000pt;
	line-height: 33.000pt;
	text-indent: 0;
	color: rgba(25,25,25,0.5);
	background: none rgba(211,211,211,0.5);
}
.cd-next:before {
	display: block;
	font-family: "englishextra-ui-icons";
	content: "\e906";
	font-size: 18.000pt;
	line-height: 33.000pt;
	text-indent: 0;
	color: rgba(25,25,25,0.5);
	background: none rgba(211,211,211,0.5);
}
.cd-prev:hover,
.cd-next:hover {
	background-color: rgba(213,213,213,1);
}
/*!
 * qr code
 */
.qr-code {
	width: 100%;
	display: block;
	float: left;
	text-align: left;
	background: #FFFFFF;
}
/*!
 * vk-like
 */
.vk-like {
	display: inline-block;
	height: 17.250pt;
	position: absolute !important;
	top: 7.500pt;
	left: 75.000pt;
	line-height: 0;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0s,opacity 0.2s linear;
	-moz-transition: visibility 0s,opacity 0.2s linear;
	-o-transition: visibility 0s,opacity 0.2s linear;
	transition: visibility 0s,opacity 0.2s linear;
	z-index: 1000;
}
.btn-show-vk-like {
	display: inline-block;
	width: 33.000pt;
	height: 33.000pt;
	position: absolute;
	top: 0;
	left: 66.000pt;
	text-indent: 0;
	text-align: center;
	text-decoration: none;
	background: none rgba(211,211,211,0.5);
	border: none;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
	-webkit-transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
	transition: background 0.2s linear;
	z-index: 999;
}
.btn-show-vk-like:hover {
	background-color: rgba(213,213,213,1);
}
.btn-show-vk-like:before {
	font-family: "englishextra-ui-icons";
	content: "\e925";
	font-size: 18.000pt;
	line-height: 33.000pt;
	color: rgba(25,25,25,0.5);
}
/*!
 * pluso, yashare
 */
.ya-share2 {
	position: fixed !important;
	right: 41.250pt;
	bottom: 7.500pt;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0s,opacity 0.2s linear;
	-moz-transition: visibility 0s,opacity 0.2s linear;
	-o-transition: visibility 0s,opacity 0.2s linear;
	transition: visibility 0s,opacity 0.2s linear;
}
.pluso {
	position: fixed !important;
	right: 0;
	bottom: 0;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0s,opacity 0.2s linear;
	-moz-transition: visibility 0s,opacity 0.2s linear;
	-o-transition: visibility 0s,opacity 0.2s linear;
	transition: visibility 0s,opacity 0.2s linear;
}
.btn-block-social-buttons {
	display: inline-block;
	width: 33.000pt;
	height: 33.000pt;
	position: fixed;
	bottom: 0;
	right: 33.000pt;
	text-indent: 0;
	text-align: center;
	text-decoration: none;
	background: none rgba(211,211,211,0.5);
	border: none;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
	-webkit-transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
	transition: background 0.2s linear;
	z-index: 999;
}
.btn-block-social-buttons:hover {
	background-color: rgba(213,213,213,1);
}
.btn-block-social-buttons:before {
	font-family: "englishextra-ui-icons";
	content: "\e91d";
	font-size: 18.000pt;
	line-height: 33.000pt;
	color: rgba(25,25,25,0.5);
}
/*!
 * retina
 */
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}
/*!
 * font for mobile
 * iosfonts.com/
 * google.com/design/spec/style/typography.html#typography-language-categorization
 * msdn.microsoft.com/en-us/library/windows/apps/hh202920%28v=vs.105%29.aspx
 */
@media only screen and (max-width: 480px) {
	body {
		font-family: "Segoe UI","Segoe WP","Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
	}
}
/*!
 * media queries
 */
@media only screen and (max-width: 20em) {
	html {
		font-size: 85.7%;
	}
}
@media only screen and (min-width: 20.063em) {
	html {
		font-size: 92.2%;
	}
}
@media only screen and (min-width: 20.063em) and (max-width: 30em) {
	html {
		font-size: 92.2%;
	}
}
@media only screen and (min-width: 30.063em) {
	html {
		font-size: 107.1%;
	}
}
@media only screen and (min-width: 30.063em) and (max-width: 40em) {
	html {
		font-size: 107.1%;
	}
}
@media only screen and (min-width: 40.063em) {
	html {
		font-size: 121.4%;
	}
}
@media only screen and (min-width: 40.063em) and (max-width: 50em) {
	html {
		font-size: 121.4%;
	}
}
@media only screen and (min-width: 50.063em) {
	html {
		font-size: 92.2%;
	}
}
@media only screen and (min-width: 50.063em) and (max-width: 60em) {
	html {
		font-size: 92.2%;
	}
}
@media only screen and (min-width: 60.063em) {
	html {
		font-size: 92.2%;
	}
}
@media only screen and (min-width: 60.063em) and (max-width: 64em) {
	html {
		font-size: 92.2%;
	}
}
@media only screen and (min-width: 64.063em) {
	html {
		font-size: 100%;
	}
}
/*!
 * specific start
 */
@media only screen and (min-width: 64.063em) and (max-width: 74em) {
	html {
		font-size: 100%;
	}
}
@media only screen and (min-width: 74.063em) {
	html {
		font-size: 100%;
	}
}
@media only screen and (min-width: 74.063em) and (max-width: 80em) {
	html {
		font-size: 100%;
	}
}
@media only screen and (min-width: 80.063em) {
	html {
		font-size: 100%;
	}
}
@media only screen and (min-width: 80.063em) and (max-width: 90em) {
	html {
		font-size: 100%;
	}
}
/*!
 * specific end
 */
@media only screen and (min-width: 90.063em) {
	html {
		font-size: 107.1%;
	}
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
	html {
		font-size: 107.1%;
	}
}
@media only screen and (min-width: 120.063em) {
	html {
		font-size: 114.3%;
	}
}
